body {
	margin: 0px;
	background-color: black;

}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

h1 {
	font-family: serif;
	color: #878f99;
	font-size: 3em;
	border-bottom: 2px solid deepskyblue;
	border-right: 2px solid deepskyblue;
	width: 400px;
	text-align: center;
	box-shadow: 2px 2px 3px #888888;
	margin-top: 10px;
	margin-bottom: 5px;
	padding-bottom: 3px;
}

img {
	width:416px;
	height:520px;
	margin: 10px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}